.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.aurorabg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.container {
  position: relative;
  z-index: 1;
}
